


/* .landing-page-auction-wrapper {
    display: flex;
    flex-direction: row;
} */

.item-list-container {
    /* background-color: aquamarine; */
    margin-top: 1rem;

    width: 100%;

    display: grid;
    grid-gap: 15px;

    grid-template-columns: repeat(auto-fill, 18rem);
    grid-auto-flow: row;
}

.item-list-container-empty {
    margin-top: 1rem;

    width: 100%;
}

.item-list-node {
    /* display: grid;
    width: 15rem; */
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-list-no-items-button * {
    /* background-color: gray;
    color: pink; */
}

.item-list-node-hover {

}

.item-list-node-hover:hover {
    background-color: lightgray;
    border-radius: 5px;
}

.item-list-ul {
    list-style: none;
}
