


/* .landing-page-auction-wrapper {
    display: flex;
    flex-direction: row;
} */
.item-list-buttons {
    width: 100%;
    display: flex;
}

.item-list-buttons button {
    width: 100%;
    height: 2rem;
}

.item-list-update-button button {
    /* color: pink;
    background-color: pink; */
}

.item-list-container {
    /* background-color: aquamarine; */
    margin-top: 1rem;

    width: 100%;

    display: grid;
    grid-gap: 15px;

    grid-template-columns: repeat(auto-fill, 18rem);
    grid-auto-flow: row;
}

.item-list-horizontal {

    grid-auto-flow: column;
    grid-template-columns: unset;
    grid-template-rows: repeat(auto-fill, 20rem);

    /* background-color: pink; */
    overflow-x: scroll;
}

.item-list-node-horizontal {
    width: 10rem;
}

.item-list-container-empty {
    margin-top: 1rem;

    width: 100%;
}

.item-list-image {
    height: 10rem;
}

.item-list-image-others {
    opacity: 0.7;
}

.item-list-image-others:hover {
    opacity: 1.0;
    transition: 0.2s;
}



.item-list-name {
    margin-top: 0.3rem;
    padding: 0.2rem 0;
    font-weight: 700;
}

.item-list-node {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: space-between;
    /* display: grid;
    grid-template-rows: 7fr 1fr 1fr 1fr */
}

.item-list-no-items-button * {
    /* background-color: gray;
    color: pink; */
}

.item-list-node-hover {

}

.item-list-node-hover:hover {
    background-color: lightgray;
    border-radius: 5px;
}

.item-list-price {
    color: darkgray;
}


.item-list-ul {
    list-style: none;
}
