/*
#root > * {
    box-sizing: border-box;
} */

* {
    /* display: inline-block; */
    margin: 0;

    font-family: "Roboto", sans-serif;

    /* box-sizing: border-box; */
}

ul {
    list-style: none;
    padding-left: 0;
}

.app-entire-wrapper {
    position: absolute;

    /* display: flex; */
    height: 100%;
    width: 100%;
}

.app-just-page {
    /* box-sizing: border-box; */

    width: 100%;
    /* height: 100%; */
    min-width: 30rem;

    padding: 1rem;

    overflow-y: scroll;
}

.app-navbar-one {

    /* position: absolute; */
    /* position: fixed; */

    display: flex;
    width: 100%;

    /* padding: 1.5rem; */
    justify-content: space-around;


}

.app-navbar-two-and-page {
    display: flex;
    height: 85%;
}

.app-navbar-two {
    /* position: fixed; */
    /* position: absolute; */
    /* display: inline-block; */

    height: 100%;
    width: 20rem;

    min-width: 15rem;

    /* background-color: lavenderblush; */
    box-shadow: 1px 0px 5px 2px lightgray;
    /* margin-top: 0; */

    /* border-top: 1px solid white; */

    padding: 0.3rem;
}

.app-navbar-two ul {
    /* background-color: blueviolet; */
    /* list-style: none; */
    padding-left: 0;
}

.app-navbar-two a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.app-navbar-two li {
    /* background-color: brown; */
    list-style: none;
    border-radius: 7px;

    margin: 3px;
}

.app-navbar-two li a {
    /* background-color: green; */
    display: flex;
    padding: 0.8rem;
    border-radius: 7px;
    height: 100%;
    width: 90%;
}

.app-navbar-two li button {
    background-color: #F0F8FF;
    display: flex;
    padding: 0.8rem;
    border-radius: 7px;
    border: 0;
    height: 100%;
    width: 100%;

    color: #007FFF;
    text-align: center;
    font-weight: 600;
}

.app-navbar-two li button:hover {
    background-color: lightgray;
    transition: background-color 0.2s;
}



.app-navbar-two li:hover {
    background-color: var(--li-lighter-gray);
    /* background-color: lightgray; */

    transition: background-color 0.2s;
}

.app-navbar-two-selected {
    background-color: lightgray;
}
