
:root {
  --base-color: #0074d9;
  --li-lighter-gray: rgb(240, 240, 240)
}

.profile-dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;

  width: 10rem;

  padding: 1rem;
  right: 4rem;

  background-color: white;
  list-style: none;
  /* border: 1px solid var(--base-color); */
  border-radius: 10px;

  box-shadow: inset 0 0 5px 3px lightgray;
  /* padding-left: 0; */
  color: black;
}

.profile-dropdown ul {
  height: 100%;
}

.profile-dropdown li {
  /* padding: 0.5rem 3rem; */
  width: 10rem;
  height: 100%;
  /* width: 100%; */
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: stretch; */
}


.profile-button li button {
  display: flex;
  width: 100%;
  padding: 0.8rem;
  border-color: transparent;

  border-radius: 8px;
}

.profile-dropdown li {
  /* margin: 0 1rem; */
  /* display: flex; */
  margin-top: 1rem;

  /* border: 1px solid red; */
}

.profile-dropdown li button {
  width: 100%;
  padding: 0.8rem;
  border-radius: 5px;

  border-color: transparent;
  /* background-color: transparent; */
  background-color: var(--li-lighter-gray);
}

.profile-dropdown li button:hover {
  background-color: lightgray;
  transition: 0.3s;
}

.hidden {
  display: none;
}

.navigation-li {
  list-style: none;
}

.navigation-img-span {
  display: flex;
  /* width: 100%; */
  /* height: */
}

.navigation-img {
  height: 6rem;
}

.navigation-img:hover {
  cursor: pointer;
}

.navigation-user-button {
   right: 2rem;
   width: 5rem;
}

.navigation-wallet-and-user {
  margin-right: 3rem;

  color: white;
  font-weight: 600;
  font-size: smaller;
}

/* .navigation-wallet-and-user span {
 border: 1px solid red;
} */

.navigation-wallet {
  padding: 0 1rem;
}

/* .navigation-wallet * {
  display: inline-flex;
  align-items: center;

} */

.navigation-wrapper {
  /* background-color: pink; */
  background-color: var(--base-color);

  display: flex;
  padding: 0 1rem;
  width: 100%;

  /* height: 100%; */

  justify-content: space-between;
  align-items: center;

  /* border-bottom: 3px black solid; */
  box-shadow: 0 1px 5px 2px lightgray;
}

/* .wallet-display-money {
    display: inline-flex;
    align-items: center;
} */

.wallet-display-icon {
  font-size: 18px;

  display: inline-flex;
  align-items: bottom;
}

.wallet-add-funds-button:hover {
  /* background-color: pink; */
  cursor: pointer;
}

/* .wallet-add-funds-button {
  background-color: pink;
} */
