

.single-auction-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;

    height: 100%;
}
.single-auction-left {
    height: 100%;

    display: grid;
    grid-template-rows: .5fr 3fr 5fr;

}
.single-auction-right {
    height: 100%;

    display: grid;
    grid-template-rows: 1fr .25fr .25fr 4fr;
}

.single-auction-reason-block {
    display: flex;
    height: 3rem;
    width: 16rem;
    /* border: 1px solid pink; */
    background-color: lightgray;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
}



.single-auction-image {

}
.single-auction-bidfeed {
    overflow-y: scroll;
    padding: 1rem;
    box-shadow: inset lightgray 0px 0px 4px 4px;
}

.single-auction-bidfeed li {
    list-style: none;

}

.single-auction-item {

}
.single-auction-countdown {

}
.single-auction-highest {

}
.single-auction-bidform {

}
