#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {
  position: absolute;
  background-color:white;

  padding: 1.5rem;
  border-radius: 5px;


}

#modal-content input {
  width: 100%;

  padding: 0;
  border: 1px solid darkgray;

}

#modal-content button {
  width: 100%;
  height: 2rem;
  padding: 1px;

  border: 1px solid darkgray;
  border-radius: 5px;
}

.modal-description {
  height: 3rem;
}

.create-auction-modal {

}
/* .create-auction-modal label {
  margin: 1rem;
} */
.modal-errors {
  color: red;
}
