



.landing-page-auction-wrapper {
    display: flex;
    flex-direction: row;
}

.landing-page-auction-grid {
    /* background-color: aquamarine; */
    flex: 1;

    margin-top: 1rem;

    width: 100%;

    display: grid;
    /* grid-gap: 10px; */
    /* grid-gap: minmax(3px, 15px); */
    /* grid-gap: 15px; */

    grid-template-columns: repeat(auto-fill, 18rem);
    /* grid-template-columns: repeat(auto-fill, 18rem); */
    grid-auto-flow: row;
}

.landing-page-auction-node:hover {
    background-color: lightgray;
    border-radius: 5px;
    cursor: pointer;
}

.landing-page-auction-node {
    /* display: grid; */
    /* width: 15rem; */

    padding: 1rem;
    height: 20rem;
}

.landing-page-auction-node-link {
    /* border: 1px solid pink; */
    height: 90%;
}

.landing-page-auction-node-start {
    font-size: smaller;
    color: darkgray;
}


.landing-page-auction-new-node-image {
    height: 70%;
    width: 100%;
}

.landing-page-buttons {
    /* background-color: pink; */
    display: flex;
    width: 100%;
}

.landing-page-buttons button {
    width: 100%;
    height: 2rem;
}

.landing-page-update-button {
    width: 100%;
}
.landing-page-update-button button {
    /* border-radius: 5px; */
}

.landing-page-delete-button {
    width: 100%;
}
.landing-page-delete-button button {
    /* border-radius: 5px; */
}

.landing-page-delete-button-solo {
    width: 100%;
}
.landing-page-delete-button-solo button{
    width: 100%;
    /* border-radius: 5px; */
}

.landing-page-login-signup-buttons {
    display: flex;
    flex-direction: column;

    /* width: 15rem;
    height: 4rem; */
}

.landing-page-login-signup-buttons button {
    width: 15rem;
    height: 2rem;
}



.landing-page-image-passed {
    opacity: 0.3;
}

.update-disabled {
    /* visibility: collapse; */
    display: none;
}

.landing-page-hidden > * {
    /* visibility: hidden */
    /* display:none; */
    opacity: 0;
    height: 0.1rem;
}

.landing-page-inner-show {
    opacity: 100%;
}

.landing-page-title-description {
    margin: 0.5rem 0;
}

.landing-page-populate-button {
    /* border: none; */
    padding: 0.5rem;
    color: #007FFF;
    /* color: white; */
    font-weight: 600;

    border-radius: 5px;
    border-color: #D7EAFF;
    /* border-color: #C4F9EF; */
    /* border-color: #4ACEB4; */
    /* background-color: #F0F8FF; */
    background-color: #E0EFFF;
    /* background-color: var(--auction-button-purple); */
    /* background-color: #4AA6CE; */

}

.landing-page-populate-button:hover {
    background-color: #C6E2FF;
    cursor: pointer;
}



@media screen and (max-width: 1170px) {
    .landing-page-auction-grid {

        margin-top: 1rem;
        width: 100%;

        display: grid;

        grid-template-columns: repeat(auto-fill, 10rem);
        grid-auto-flow: row;
    }

    .landing-page-auction-node {
        /* display: grid; */
        /* width: 15rem; */

        padding: 0.3rem;
        height: 20rem;
    }

    .landing-page-expired-time {
        font-size: smaller;
    }
}
