



.landing-page-auction-wrapper {
    display: flex;
    flex-direction: row;
}

.landing-page-auction-grid {
    /* background-color: aquamarine; */
    margin-top: 1rem;

    width: 100%;

    display: grid;
    grid-gap: 15px;

    grid-template-columns: repeat(auto-fill, 18rem);
    grid-auto-flow: row;
}

.landing-page-auction-node:hover {
    background-color: lightgray;
    cursor: pointer;
}

.landing-page-auction-node {
    /* display: grid; */
    /* width: 15rem; */
    padding: 1rem;
    height: 20rem;
}

.landing-page-auction-node-link {
    /* border: 1px solid pink; */
    height: 90%;
}

.landing-page-auction-new-node-image {
    height: 70%;
    width: 100%;
}

.update-disabled {
    visibility: collapse;
}
