

.navsidebar-wrapper {
    /* background-color: blueviolet; */

    /* display: flex;
    flex-direction: column; */
}

.navsidebar-title {
    padding: 0.5rem;
}

.navsidebar-auction-icon {
    color: var(--base-color);
}

#navsidebar-items-disabled {
    color: lightgray;
}
